{{> header}}
<section>
  <div class="body-content">
    <div class="article-meta">
      <h1 class="article-title">
        {{title}}
      </h1>
      <div class="byline">
        <span>By</span>
        <span>{{author}}</span>
        <time>{{datePublished}}</time>
      </div>
    </div>
    <div class="article-body">
      {{message}}
    </div>
  </div>
</section>
{{> footer}}
