{{> header}}
<section>
  <div class="body-content">
    <div class="article-meta">
      <h1 class="article-title">
        {{title}}
      </h1>
    </div>
    <div class="article-body">
      {{message}}
    </div>
  </div>
</section>
{{> footer}}
