{{> header}}
<section>
  <div class="body-content">
    <div class="article-meta">
      <h1 class="article-title">
        {{title}}
      </h1>
      <div class="byline">
        <div class="byline-authors">
          <span>By</span>
          <a class="byline-author" href="#">{{author}}</a>
        </div>
        <time>{{datePublished}}</time>
      </div>
    </div>
    <div class="article-body">
      {{#each paragraphs}}
        <p>{{this}}</p>
      {{/each}}
    </div>
  </div>
</section>
{{> footer}}
