$header-colour: #ffffff;
$background-colour: #f4f4f4;
$footer-colour: #ffffff;

$heading-font: 'Source Serif Pro', serif;
$meta-font: 'Source Sans Pro', sans-serif;
$body-font: 'Source Serif Pro', serif;

html {
  font-size: 100%;
}

@import
  "header",
  "footer",
  "body"
;